$gray100: #fff;
$gray200: #FAFAFA;
$gray300: #F0F1EF;
$gray400: #E0E1DF;
$gray500: #C5C6C4;
$gray600: #9D9F9B;
$gray700: #7a7a7a;
$gray800: #535451;
$gray900: #262626;
$gray1000: #171716;
$gray1100: #0A090A;


$purple: #995AFF;
$lightpurple: #995AFF;
$darkpurple: #440F88;
$pink: #FB74B5;
$lightpink: #FBC8E0;
$darkpink: #440F88;
// $orange: #FFB13D;
$red: #FF4949;
$blue: #39AFFF;


$green: #B3F460;
$orange:#EE6A40;
$vividgreen: #41C204;




